.link {
  display: flex;
  margin-left: auto;
}

.link__item {
  margin-right: 50px;
  list-style: none;
  &:last-child {
    margin-right: 0;
  }
}
.link__email {
  color: var(--theme-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover, &:focus {
    color: var(--theme-button);
    fill: var(--theme-button);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
  }
}
.link__tel {
  color: var(--theme-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover, &:focus {
    color: var(--theme-button);
    fill: var(--theme-button);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
  }
}
.link__icon {
  margin-right: 10px;
  fill: currentColor;
}