.about {
  max-width: 1600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: var(--theme-bgr-about);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  align-items: center;
}
.tagline {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--theme-accent);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  &_button {
    cursor: pointer;
    margin: 0 auto;
    color: var(--theme-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--theme-button);
    min-width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: none;
  }
}