html {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--theme-text);
  background-color: var(--theme-accent);
}
section {
  padding: 94px 0;
}
.about-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--theme-text-accent);
}
.container {
  width: 1230px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.checkbox-ok {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}