.navigation {
  display: flex;
  align-items: center;
}
.navigation__logo {
  margin-right: 93px;
  color: var(--theme-text-accent);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  padding-top: 24px;
  padding-bottom: 25px;
  line-height: 1.19;
  text-decoration: none;
}

.navigation__web {
  color: var(--theme-button);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.navigation__site-nav {
  position: relative;
  margin-left: 0;
  margin-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-flex;
  margin: 0;
  color: var(--theme-text-accent);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation__list {
  margin-right: 50px;
  list-style: none;
  &:last-child {
    margin-right: 0px;
  }
  &:hover, &:focus {
    color: var(--theme-button);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
}
.navigation__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-flex;
  margin: 0;
  color: var(--theme-text-accent);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation__link--current {
  color: var(--theme-button);
  position: relative;
}
.navigation__link--current::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;

  width: 100%;
  height: 4px;
  background: var(--theme-button);
  border-radius: 2px;
}